# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/media/cache/*

# composer
composer.phar

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#all idea specific inner project
.idea/*

#Cache des vignettes AvalancheImagineBundle
web/media/cache/*

**/*.*~