{% extends '::layout.html.twig' %}

{% block body -%}
 <div class="col-md-3">
    <h1>Edition</h1>

    {{ form(edit_form) }}
    <div class="separeBot"></div>
        <ul class="record_actions nopuce">
    <li>
        <a href="{{ path('admin_user') }}">
            <button class="btn btn-xs btn-danger">Back to the list</button>
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
 </div>
{% endblock %}
