{% extends '::layout.html.twig' %}

{% block body -%}
    <div class="col-md-3">
    <h1>Création d'un utilisateur</h1>

    {{ form(form) }}
    <div class="separeBot"></div>
        <ul class="record_actions nopuce">
    <li>
        <a href="{{ path('admin_user') }}">
            <button class="btn btn-xs btn-danger">Back to the list</button>
        </a>
    </li>
</ul>
    
    </div>
{% endblock %}
