#titre {

    font-size: 30px;

    text-shadow: -1px -1px #9df, 1px 1px #49d, -2px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color:#6bf;

    text-align:center;
}


.container .jumbotron {
    border-radius: 6px;
}

.jumbotron .container {
    max-width: 100%;
}

.philea-text-content {
    /*color:#6bf;*/
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    //background-color: rgba(4, 99, 128, 0.3);
    border-radius: 6px;
}


.philea-text-content {
    padding-right: 15px;
    padding-left: 15px;
}


/* datatable */

tr.even td.sorting_1 {
    background-color: rgba(100, 100, 100, 0.1);

}
tr.odd td.sorting_1 {
    background-color: rgba(100, 100, 100, 0.2);
}
tr.even {
    background-color: rgba(100, 100, 100, 0.1);

}
tr.odd {
    background-color: rgba(100, 100, 100, 0.2);
}


body {
background:url(bg.jpg);
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/*.philea-text-content {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 120%;
    font-weight: normal;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}*/

#id-form td	{
    width: 500px;
}
#id-form td.noheight	{
    padding: 0 0 0px 0;
}
#id-form th	{
    line-height: 28px;
    min-width: 130px;
    padding: 0 0 10px 0;
    text-align: left;
    width: 130px;
}
.titre{
    width: 100%;
}

#form_titre, #form_categorie, #form_contenu, #form_file, #form_avancement{
    text-transform: none;
    width: 100%;
}