{% extends "::layout.html.twig" %}
{% block title %}Projet Philae{% endblock%}
{% block body %}



    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

       <center>{{ form(form) }}</center>

    {% else %}

        Vous n'êtes pas connecté ! <br />
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}


{% endblock %}

