{# src/Cnes/PhilaeBundle/Resources/views/Default/comete.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Projet Philae - La comète{% endblock%}
{% block body %}

    <h1 style="text-align:center;">La comète</h1>
    <p> La comète Tchourioumov-Guérassimenko a été découverte le 11 septembre 1969 par 2 chercheurs :
        Klim Ivanovitch Tchourioumov et Svetlana Ivanovna Guérassimenko .
        Cette comète s'approche du Soleil avant de s'éloigner vers l'extérieur du Système Solaire.
        Proche du soleil sa surface formé de glace se met à dégazer c'est à dire à produire un nuage de gaz et de poussière appelé :
        chevelure ou coma. Lorsqu'elle s'éloigne à nouveau du soleil tous ces phénomènes disparaissent.</p>
    <br />

    <p><img src="{{ asset('img/site/comete3D.jpg') }}" style="float:left;"/>Reconstruction de la comète Tchourioumov-Guérassimenko en 3D
        a été réalisée par le télescope spatial Hubble.</p>

    <div class="clear"></div>






{% endblock %}

