    {% extends "::layout.html.twig" %}

{% block body %}


<table class="table" width="40%" >
    <tr>
        <th>Projet</th>
        <th>Supprimer</th>
    </tr>
   {% for projet in projets %}
    <tr>
        <td>{{projet.id}}</td>
        <td><a href="{{ path('cnes_philae_default_projetsuserdelete',{'idUser' : idUser,'idProjet' : projet.id})}}"><button class="btn btn-danger btn-small"><i class="icon-white icon-trash"></i>Supprimer</button></a></td>
    </tr>
    {% endfor %}
</table> 

{% endblock %}