{# src/Cnes/PhilaeBundle/Resources/views/Default/projet_philae.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Projet Philae{% endblock%}
{% block body %}

    <h1 style="text-align:center;">projet cnes</h1>
    <p> Cette mission est d'envoyer la sonde spatiale Rosetta sur la comète Tchourioumov-Guérassimenko et de déposer un petit attérisseur nommé Philae qui va l'étudier.
        La sonde Rosetta quant à elle se désagrégera dans l'espace.
        Son lancement a débuté le 2 mars 2004 et la fin de  la mission est prévue pour 2015.
    </p>
    <div><img src="{{ asset('img/site/rosetta.jpg') }}"/>
        <p>Rosetta</p></div>

    <p><center><img src="{{ asset('img/site/Philae.jpg') }}" /><br /><span style="color:#000000;"> La sonde Philae</span></center></p>


    <div class="clear"></div>



{% endblock %}

